* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid lightgrey;
}

.pic {
  display: flex;
  align-items: center;
}

h2 {
  color: grey;
}
.search {
  width: 400px;
  height: 45px;
  padding: 10px;
  display: flex;
  margin-left: 10px;
  align-items: center;
  background-color: rgb(214, 209, 209);
  border-radius: 5px;
}

input {
  background-color: rgb(214, 209, 209);
  width: 400px;
  height: 45px;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
  border: none;
  outline: none;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.class {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 200px;
  margin-top: 20px;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.content input {
  background-color: transparent;
  margin-top: 10px;
  width: 80%;
  height: 40px;
  padding: 10px;
  border-bottom: 2px solid lightgrey;
}

textarea {
  width: 80%;
  height: 200px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  resize: none;
}

.but {
  position: relative;
  left: 40%;
  bottom: 5%;
}
.plus {
  border: none;
  width: 40px;
  height: 40px;
  color: rgba(222, 222, 8, 0.903);
  border-radius: 50%;
}

.plus:hover {
  background-color: rgba(222, 222, 8, 0.903);
  color: white;
}

.data {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;

  margin: 20px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
/* .data div {
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;

  padding-left: 10px;
} */

.data h1 {
  font-size: 25px;
  margin-top: 10px;
  height: 40px;
  border-bottom: 2px solid lightgray;
  padding: 5px;
}

.data p {
  margin-top: 10px;
  padding: 5px;
  inline-size: 135px;
  overflow-wrap: break-word;
  padding-top: 8px;
  height: 140px;
  width: 100%;
}

.data button {
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 0%;
  left: 80%;
  border-radius: 50%;
  color: rgba(222, 222, 8, 0.903);
}

.data button:hover {
  background-color: rgba(222, 222, 8, 0.903);
  color: white;
}

.dataa {
  display: flex;
  flex-wrap: wrap;
}
